@charset "UTF-8";
/* Default theme style  */

body {
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

/* Navbar */
nav {
  position: fixed;
  height: 125px;
  top: 0;
  z-index: 1;
  background-color: #f4f7fa;
}

nav .navbar-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

nav .navbar-content .sub-content {
  width: calc(100% - 475px);
  height: 125px;
  padding-right: 52px;
  padding-left: 48px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav .navbar-content .sub-content p {
  font-size: 24px;
  font-weight: 400;
  color: #282c37;
}

.nav-icon {
  height: 125px;
  width: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

/* End of Navbar */

.layout-container {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  z-index: 9999;
}

/* Sidebar */
.sidebar-container {
  width: 150px;
  height: 100vh;
  background-color: #313541;
  position: relative;
  left: 0;
  padding: 0;
  z-index: 3;
}

.s-button-container {
  width: 100%;
  height: 630px;
  background-color: #222c303b;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.sidebar-button {
  width: 100%;
  height: 125px;
  background-color: #313541;
  margin-bottom: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 12px;
  padding-right: 12px;
}

.sidebar-button p {
  font-size: 16px;
  color: #8298a0;
  text-align: center;
  display: table-caption;
}

.sidebar-button:hover {
  width: 150px;
  height: 125px;
  background-color: #72cdd2;
}

.sidebar-button:hover p {
  font-size: 16px;
  color: white;
  display: table-caption;
}

/* End of Sidebar */

/* Drawer */
.drawer {
  width: 350px;
  height: 100vh;
  background-color: #282c37;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 3;
  box-shadow: 4px 0px 6px #51555a;
}

.drawer section {
  width: 350px;
  height: 125px;
  background-color: #282c37;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-dropdown-container {
  width: 300px;
  height: 40px;
  background-color: #282c37;
}

.btn-cstm {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #768c94;
  background-color: #282c37;
  border-color: #242832;
}

.btn-cstm:hover {
  width: 100%;
  height: 40px;
  color: #768c94;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #282c37;
  border-color: #242832;
}

.btn-cstm:focus,
.btn-cstm.focus {
  box-shadow: #282c37;
}

.btn-cstm:not(:disabled):not(.disabled):active,
.btn-cstm:not(:disabled):not(.disabled).active,
.show>.btn-cstm.dropdown-toggle-cstm {
  width: 100%;
  height: 40px;
  color: #768c94;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #282c37;
  border-color: #242832;
}

.btn-cstm:not(:disabled):not(.disabled):active:focus,
.btn-cstm:not(:disabled):not(.disabled).active:focus,
.show>.btn-cstm.dropdown-toggle-cstm:focus {
  box-shadow: #282c37;
}

.selected-container {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: #242832;
}

.selected-container .box {
  width: 300px;
  height: 40px;
  padding-left: 34px;
  padding-right: 34px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.selected-container:hover .box {
  width: 300px;
  height: 40px;
  padding-left: 34px;
  padding-right: 34px;
  background-color: #1c1f27;
  color: #92d72e;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.collapse-child {
  width: 300px;
  padding-left: 54px;
  padding-right: 34px;
  background-color: #282c37;
}

.collapse-child li {
  color: #6b7e87;
  padding-top: 10px;
  padding-bottom: 10px;
  list-style-type: none;
}

/* Sidebar */

/* Right Sidebar */
.right-sidebar {
  width: 350px;
  height: calc(100% - 125px);
  position: fixed;
  right: 0;
  top: 125px;
  background-color: #313541;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.right-sidebar img {
  width: 350px;
  height: 240px;
  object-fit: cover;
}

.title-container {
  width: 350px;
  height: 50px;
  background-color: #72cdd2;
  color: white;
  padding-left: 36px;
  padding-right: 12px;
  padding-top: 30px;
  padding-bottom: 15px;
  display: flex;
  text-overflow: ellipsis;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.desc-container {
  width: 350px;
  padding-left: 36px;
  padding-right: 36px;
  padding-top: 22px;
  padding-bottom: 22px;
}

.desc-container p {
  font-size: 16px;
  color: white;
}

.add-desc {
  width: 350px;
  padding-left: 36px;
  padding-right: 36px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.add-desc p {
  font-size: 1em;
  color: white;
}

.add-desc a {
  text-decoration: none;
  color: white;
}

.add-desc img {
  width: 1em;
  height: 1em;
  margin-right: 2px;
}

.add-desc i {
  margin-right: 2px;
}

/* End of Right Sidebar */

/* Map Container Style */
.map-container {
  width: 100vw;
  height: 100vh;
  z-index: 0;
  position: fixed;
  top: 0;
  background-color: #7e92a6;
}

#map {
  width: 100%;
  height: 100%;
}

.custom-label {
  width: fit-content;
  height: 32px;
  background-color: #282c37;
  color: white;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  padding-top: 6px;
  padding-left: 12px;
  padding-right: 12px;
}